## Temporary files created by vim.
*.swp

## Cache directories created by the eponymous tools.
/.mypy/
/.pylint/

## Local configuration file for pyenv.
/.python-version

## Local configuration lock file for Poetry.
/poetry.lock

## Build artifacts.
/dist
