<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorize the SciTokens Token Management Service</title>
</head>
<body>
    <h1>Authorize the SciTokens Token Management Service</h1>
    <p>
        Please visit: <a href="{{ url }}">{{ name }}</a>
    </p>
    <p>
        When prompted, enter the following code: <strong>{{ code }}</strong>
    </p>
    <p>
        After you have entered the code, return to
        <a href="{{ service_base_url }}">the token management service's homepage</a>
        to fetch your token.
    </p>
</body>
